# Ignore Python cache files
__pycache__/
*.pyc

# Ignore model files (usually large)
models/*.pt
models/*.bin
models/*.pth

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.log

# Ignore macOS system files
.DS_Store

# Ignore virtual environment folders
env/
venv/

# Ignore Excel backup files
~$*.xlsx
